<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Tour Player App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="playerClick()">
      <mat-icon [fontIcon]="currentIcon"></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/catacombs">Playlist</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>